<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Welcome to Grocery List App</h1>
            <p>Effortlessly manage and share your grocery lists.</p>
        </header>

        <main>
            <a href="{{ url_for('login') }}" class="btn">Login</a>
            <a href="{{ url_for('register') }}" class="btn">Register</a>
        </main>
    </div>
</body>
</html>
